asn1crypto==0.24.0
Click==7.0
cryptography==2.1.4
enum34==1.1.6
Flask==1.1.1
gunicorn==19.9.0
idna==2.6
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.1
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
numpy==1.13.3
pdf2image==1.6.0
Pillow==6.1.0
pycairo==1.16.2
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
reportlab==3.5.23
SecretStorage==2.3.1
six==1.11.0
systemd-python==234
uWSGI==2.0.18
virtualenv==16.6.1
Werkzeug==0.15.4
backports.tempfile==1.0
backports.weakref==1.0.post1