atomicwrites==1.4.0
attrs==20.2.0
backports.functools-lru-cache==1.6.1
backports.tempfile==1.0
backports.weakref==1.0.post1
click==7.1.2
configparser==4.0.2
contextlib2==0.6.0.post1
dictproxyhack==1.1
enum34==1.1.10
Flask==1.1.2
funcsigs==1.0.2
gunicorn==19.10.0
importlib-metadata==2.0.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
more-itertools==5.0.0
numpy==1.16.6
packaging==20.4
pathlib2==2.3.5
pdf2image==1.6.0
Pillow==9.0.0
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==4.6.11
python-systemd==0.0.9
reportlab==3.5.53
scandir==1.10.0
six==1.15.0
wcwidth==0.2.5
Werkzeug==1.0.1
zipp==1.2.0
